@media screen and (max-width:1440px){
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Outfit:wght@100..900&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'POPPINS',sans-serif;
    }
    br{
        display: none;
    }
    #owner{
        background-image: url(images/bg-hero-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: hsl(193, 100%, 96%);
    }
    .first{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem;
        
    }
    .first img{
        width: 150px;
    }
    .but-0{
        width: 130px;
        padding: 12px;
        border: none;
        border-radius: 20px;
    }
    .owner-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        font-size: 1.210rem;
        line-height: 1.8;
        margin-bottom: 30px;
        white-space: wrap;
    }
    .owner-1 h1{
        margin-top: -50px;
        margin-bottom: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        font-size: 40px;
        text-transform: capitalize;
    }
    .all{
        padding: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .but-1{
        width: 300px;
        margin-top: 1.5rem;
        padding: 18px;
        text-transform: capitalize;
        border: none;
        border-radius: 35px;
        background-color: hsl(322, 100%, 66%);
        color: hsl(0, 0%, 100%);
    }
    .img-1{
         width: 600px;
    }
    .sec-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 0.990rem;
        line-height: 1.6;
        margin-bottom: 30px;
        white-space: wrap;

    }
    .sec-1 h2{
        font-weight: 500;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    .second{
        margin: 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    
    }
    .second img{
        width: 500px;
    }
    .thir-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 0.950rem;
        line-height: 1.6;
        margin-bottom: 30px;
        white-space: wrap;
    }
    .thir-1 h2{
        font-weight: 500;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    .third{
        margin: 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8rem;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    
    }
    .third img{
        width: 500px;
    }
    .fou-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 0.990rem;
        line-height: 1.6;
        margin-bottom: 30px;
        white-space: wrap;
    }
    .fou-1 h2{
        font-weight: 500;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    .fourth{
        margin: 3rem;
        padding: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8rem;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    
    }
    .fourth img{
        width: 500px;
    }
    .fifth{
        margin: auto;
        padding: 3rem;
        width: 550px;
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        background-color: hsl(0, 0%, 100%);
        position: relative;
        z-index: 1;
        border-radius: 10px;
        margin-bottom: -80px;

    }
    .but-3{
        width: 300px;
        margin-top: 1.5rem;
        padding: 18px;
        border: none;
        border-radius: 35px;
        background-color: hsl(322, 100%, 66%);
        color: hsl(0, 0%, 100%);
    }
    footer{
        background-color: hsl(192, 100%, 9%);
        color: hsl(0, 0%, 100%);
        padding: 3rem;
        
    }
    .outer{
        margin-top: 120px;
        display: flex;
        gap: 9rem;
        justify-content: space-between;
        align-items: flex-start;
    }
    .out-3{
        white-space: nowrap;
        
    }
    .a{
        display: flex;
        padding: 5px;
        font-size: 1rem;
        line-height: 1.8;
        margin-bottom: 30px;
        white-space: wrap;
    }
    .a img{
        margin-right: 1.5rem;
    }
    .b{
        display: flex;
        padding: 5px;
    }
    .b img{
        margin-right: 1rem;
    }
    .but-4{
        width: 100px;
        clip-path: inset(0 75px 0 0);
        margin-right: -75px;
    }
    .but{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -40px;

    }
    .social{
        display: flex;
        flex-direction: row;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a{
        text-decoration: none;
        line-height: 2;
    }
    a:visited{
        color: white;
    }
    a:hover{
        text-decoration: underline;
    }
    .last{
        text-align: end;
    }
       
}
@media screen and (max-width: 376px){
    body{
        font-size: 15px;
        max-width: 367px;
    }
    #owner{
        background-image: url(images/bg-hero-mobile.svg);
    }
    .first{
        padding: 1rem;
    }
    .first img{
        width: 100px;
    }
    .but-0{
        width: 100px;
        padding: 8px;
        background-color: hsl(0, 0%, 100%);
    }
    .owner-1{
        align-items: center;
        text-align: center;
        white-space: nowrap;
        font-weight: 300;
    }
    .owner-1 h1{
        padding-top: 2rem;
        font-size: 25px;
    }
    .all{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .but-1{
        width: 200px;
        padding: 8px;
        margin-bottom: 1rem;
    }
    .img-1{
         width: 250px;
    }
    .sec-1{
        align-items: center;
        text-align: center;
        white-space: nowrap;
        font-weight: 300;
    }
    .sec-1 h2{
        margin: 3rem;
        margin-bottom: 1rem;
    }
    .second{
        margin: 1rem;
        padding: 4rem;
        flex-direction: column-reverse;
        align-items: center;
    }
    .second img{
        width: 300px;
    }
    .thir-1{
        text-align: center;
        align-items: center;
        white-space: nowrap;
        font-weight: 300;
    }
    .thir-1 h2{
        margin-top: 3rem;
    }
    .third{
        margin: 1rem;
        padding: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third img{
        width: 300px;
    }
    .fou-1{
        align-items: center;
        text-align: center;
        white-space: nowrap;
        font-weight: 300;
    }
    .fou-1 h2{
        margin: 3rem;
        margin-bottom: 1rem;
    }
    .fourth{
        margin: 1rem;
        padding: 4rem;
        flex-direction: column-reverse;
        align-items: center;
    }
    .fourth img{
        width: 300px;
    }
    .fifth{
        padding: 2rem;
        margin-top: 6rem;
        width: 350px;
        font-size: 12px;
        margin-bottom: -70px;
    }
    .but-3{
        width: 180px;
        padding: 10px;
    }
    footer{
        padding: 0.5rem;
    }
    .outer{
        flex-direction: column;
        gap: 20px;
        white-space: nowrap;
        font-size: 16px;
        
    }
    .but-4{
        width: 200px;
        clip-path: inset(0 160px 0 0);
        margin-right: -150px;
    }
    .but{
        font-size: 35px;
        font-weight: 600;
    }
    .last{
        align-items:center;
        gap: 10px;
        font-size: 12px;
        margin: 3rem;
    }
    
    
}