footer{
    background-color: hsl(192, 100%, 9%);
    color: hsl(0, 0%, 100%);
    padding: 3rem;
    
}


.a{
    display: flex;
    padding: 5px;
}
.a img{
    margin-right: 1.5rem;
}
.b{
    display: flex;
    padding: 5px;
}
.b img{
    margin-right: 1rem;
}
.c{
    display: flex;
    padding: 5px;

}
.c img{
    margin-right: 1rem;
}
.outer{
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.last{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    line-height: 2;
}
a:visited{
    color: white;
}
a:hover{
    text-decoration: underline;
}
